{% extends 'base.html.twig' %}


{% block pageContent %}
    <div class="container">
        <a href="" class="pull-right btn btn-default" type="button" title="Page Bottom">
            <span class="glyphicon glyphicon-arrow-down"></span>
        </a>
        <div id="figures" class="row flex">
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                       <p class="card-text">Figure 1</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

