{% extends 'base.html.twig' %}

{% block pageContent %}
    <div class="index pageContent" style="background-image: url({{ asset('build/images/snow01.jpg') }});">

            <a href="" class="pull-right btn btn-default" type="button" title="Page Bottom">
                <span class="glyphicon glyphicon-arrow-down"></span>
            </a>

        <div class="container">

        </div>
    </div>
{% endblock %}
