{% extends 'base.html.twig' %}

{% block pageContent %}
    <div class="index" style="background-image: url({{ asset('build/images/snow01.jpg') }});">

            <a href="" class="pull-right btn btn-default" type="button" title="Page Bottom">
                <span class="glyphicon glyphicon-arrow-down"></span>
            </a>

        <div class="container">
            <div id="figures" class="row">
                <div class="card mt-4">
                    <div class="card-body">
                        <h5 class="card-title">FIGURE 1</h5>
                        <p class="card-text">Ma figure 1</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
