<div class="card border-dark mb-4">
    <img class="card-img-top" src="{{ asset('uploads/images/'~trick.images.first.name) }}" alt="Card image cap">
    <div class="card-footer">
        <div>{{ trick.name }}</div>
        <div class="push-right">
            <a class="btn btn-primary" href="{{ path('edit_figure', {'id' : trick.id}) }}"><i class="far fa-edit"></i></a>
            <a class="btn btn-danger" href="{{ path('delete_figure', {'id' : trick.id}) }}"><i class="far fa-trash-alt"></i></a>
        </div>

    </div>
</div>