<div class="card border-dark mb-4">
    <img class="card-img-top" src="{{ asset('build/images/'~trick.medias.first.name) }}" alt="Card image cap">
    <div class="card-footer">
        <div>{{ trick.name }}</div>
        <div class="push-right">
            <button class="btn btn-primary"><i class="far fa-edit"></i></button>
            <button class="btn btn-danger"><i class="far fa-trash-alt"></i></button>
        </div>

    </div>
</div>