{% extends 'base.html.twig' %}

{% block pageContent %}
    <div class="card" id="registrationForm">
        <div class="card-title">New Password</div>
        <div class="card-body">
            {{ form(form) }}
        </div>
        <div class="card-footer">
            <a href="{{ path('login') }}">Return to login page</a>
        </div>
    </div>
    {% include 'messageFlash.html.twig' with {'buttonId': 'closeNewPasswordMessage'} %}
{% endblock %}