{% extends 'base.html.twig' %}

{% block pageContent %}
    <div class="container">
        <div id="registrationForm" class="card">
            <div class="card-header">
                <h2><i class="fas fa-user"></i>  Registration</h2>
            </div>
            <div class="card-body">
                {{ form(form) }}
            </div>

        </div>
    </div>

{% endblock %}