{% extends 'base.html.twig' %}

{% block pageContent %}
    <div class="container">
        <div class="login-form">
            <h2>Registration</h2>
            {{ form(form) }}
        </div>
    </div>

{% endblock %}