{% extends 'base.html.twig' %}

{% block pageContent %}
    <div class="container">
        <div id="registrationForm" class="card">
            <form action="#" method="post">
                <div class="card-header">
                    <h2><i class="fas fa-user"></i>  Reset Password</h2>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label class="loginLabel" for="email">Enter your E-mail</label>
                        <input type="email" id="email" name="email" class="form-control" />
                    </div>
                    <button type="submit" class="btn btn-primary">
                        Reset your password
                    </button>
                </div>
                <div class="card-footer">
                    <a href="{{ path('login') }}">Return to login page</a>
                </div>
            </form>
        </div>
        {% include 'messageFlash.html.twig' with {'buttonId': 'closeResetPasswordMessage'} %}
    </div>

{% endblock %}
