<html>
<head>
    <meta charset="UTF-8">
</head>

<body>
    <h5>Message from :</h5>
    <p>Snowtrick Community</p>
    <h6>Send the : </h6>
    <p>{{ date | date('d-m-Y') }}</p>
    <h5>has wrote :</h5>
    <hr/>
    <h5>Click on the link below for reset your password</h5>
    <p>http://snowtricksdapp6.com/newpassword/{{ token }}</p>
    <hr/>
</body>
</html>